#intro {
  background-image: url("../hawker1.jpg");
  background-size: cover
}

/* buttons */
.btn-dabao {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #ffc107;
  background-color: #fffbf0a9;
  border: 2.5px solid #ffc107;
}
.btn-dabao:hover {
  background: #ffc107;
  color: #fff;
  font-size: 24px;
  border: 8px solid #ffc107;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3) !important;
}
/* Partners */
client {
  padding: 16px 0;
  text-align: center;
}
.client img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  filter: grayscale(100);
}

.client img:hover {
  filter: none;
  transform: scale(1.2);
}

.client img {
  max-width: 50%;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.section-bg,
.services .icon-box {
  background: rgb(255, 254, 246);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 246, 0.2773984593837535) 2%,
    rgba(255, 192, 0, 0.2536108193277311) 100%
  );
}

.bg-grad {
  background: rgb(255, 254, 246);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 246, 0.873984593837535) 50%,
    rgba(255, 192, 0, 0.26108193277311) 100%
  );
}

/* nav bar */
a.nav-link:hover {
  transform: scale(1.05);
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  color: #ffc107 !important;
}

/* scroll to top */
.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 50px;
  background: linear-gradient(45deg, #ffc107, #e79450);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff !important;
  border-radius: 0;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  border-radius: 5px;
}

.scroll-top:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(20, 22, 26, 0.322) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}
